<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>

<body>

    <form action="/addemp" method="POST">
        <table>
            <tr>
                <td>EMPLOYEE NAME:-</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>EMPLOYEE Email:-</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>EMPLOYEE age:-</td>
                <td><input type="text" name="age"></td>
            </tr>
            <tr>

                <td><input type="submit" value="SUBMIT"></td>
            </tr>
        </table>

    </form>
</body>


</html>