<!DOCTYPE html>

<html>
    <head></head>
    <body>
        <h1>EMPLOYEE NAME :- {{emp.name}}</h1>
        <h1>EMPLOYEE EMAIL :- {{emp.email}}</h1>
        <h1>EMPLOYEE AGE :- {{emp.age}}</h1>
    </body>
</html>